.sidebar{

width:260px;

background:#0F172A;

color:white;

display:flex;

flex-direction:column;

padding:20px;

gap:8px;

}

.sidebar h2{

margin-bottom:25px;

font-size:22px;

}

.sidebar a{

display:flex;

align-items:center;

gap:12px;

padding:12px;

border-radius:12px;

text-decoration:none;

color:#CBD5E1;

transition:.25s;

}

.sidebar a:hover{

background:#1E293B;

color:white;

}

.sidebar a.active{

background:#DC2626;

color:white;

}